.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    transition: 0.3s;
    display: block;
    flex: 1;
    margin: 1rem 1rem 0rem 0.5rem;
    padding: 20px;
    cursor: pointer;
    background: white;
    border-radius: 1rem;
    font-size: 0.8em;
    font-weight: 200;
}
