.card {
    box-shadow: 0px 1px 1px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    display: block;
    flex: 1;
    margin: 20px 20px 20px 0px;
    padding: 20px;
    cursor: pointer;
    background: white;
}
